<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>new_vue_bookmarks</title>
    <link href=/static/css/app.1625277c.css rel=preload as=style>
    <link href=/static/js/app.d25742fd.js rel=preload as=script>
    <link href=/static/js/chunk-vendors.61405a0c.js rel=preload as=script>
    <link href=/static/css/app.1625277c.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but new_vue_bookmarks doesn't work properly without JavaScript enabled. Please enable it
    to continue.</strong></noscript>
<div id=app></div>
<script src=/static/js/chunk-vendors.61405a0c.js></script>
<script src=/static/js/app.d25742fd.js></script>
</body>
</html>